#compatible with python 3.8

configparser==5.0.2
pickle-mixin==1.0.2
Keras==2.4.3
numpy==1.19.5
pandas==1.1.5
scikit-learn==0.24.1
matplotlib==3.3.4
tensorflow==2.5.0
skmultiflow==0.5.3
Cython==0.29.23
shap==0.39.0
